In [3]:
names = [name for name in ["John", "Hanne", "Magnus", "Casper", "Harald"] if name[:1].lower() == "h"]

names

['Hanne', 'Harald']

In [24]:
numbers = [i ** 3 for i in range(1,101)]

print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [6]:
names = ["John", "Hanne", "Magnus", "Casper", "Harald"]
tuples = []

for x in names:
    tuples.append((len(x), x))

tuples

[(4, 'John'), (5, 'Hanne'), (6, 'Magnus'), (6, 'Casper'), (6, 'Harald')]

In [10]:
randomString = "ejkaf3232evsle2ktylkl53gesv"

for x in randomString:
    if x.isdigit():
        print(x)

3
2
3
2
2
5
3

In [11]:
dice = set([d1 + d2 for d1 in range(1,7) for d2 in range(1, 7)])

dice

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [20]:
dictnames = {i:len(i) for i in names}

dictnames

{'John': 4, 'Hanne': 5, 'Magnus': 6, 'Casper': 6, 'Harald': 6}

In [23]:
import math

sqrtnums = {i:math.sqrt(i) for i in [30,4,56,68,73,82]}

sqrtnums

{30: 5.477225575051661,
 4: 2.0,
 56: 7.483314773547883,
 68: 8.246211251235321,
 73: 8.54400374531753,
 82: 9.055385138137417}

In [47]:
dd = {}
for d1 in range(1,7):
    for d2 in range(1,7):
        if d1+d2 in dd:
            dd[d1 + d2] += 1/36*100
        else:
            dd[d1 + d2] = 1/36*100

dd

{2: 2.7777777777777777,
 3: 5.555555555555555,
 4: 8.333333333333332,
 5: 11.11111111111111,
 6: 13.88888888888889,
 7: 16.666666666666668,
 8: 13.88888888888889,
 9: 11.11111111111111,
 10: 8.333333333333332,
 11: 5.555555555555555,
 12: 2.7777777777777777}